/* src/components/Header.module.css */

.header {
  background-color: #e0f2fe; /* Light blue background */
  text-align: center;
  padding: 40px 20px;
}

.textContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.textContainer p {
  margin-bottom: 5px;
}

.searchBarContainer {
  border: 1px solid #ffffff; /* Add border */
  margin: 20px auto; /* Center with auto margins */
  max-width: 800px; /* Limit width */
  padding: 20px; /* Add padding inside the border */
}

/* Styles for the SearchBar (if you want to add them here) */
.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inputField {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; /* Adjust width as needed */
}

.searchButton {
  background-color: #007bff; /* Blue button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}